/* Header Component Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}





.header nav {
    margin-top: 10px;
    
}

.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}



.header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1e2225;
    padding: 30px;
   
}

.header nav ul li {
    margin: 0 100px;
}